* {
    box-sizing: border-box;
}

body {
    font-family: 'roboto';

    background-color: #e5e5e5;
}

header {
    width: 100%;
    height: 69px;

    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 37px;
    font-weight: 700;
    line-height: 43px;

    padding: 13px;
    text-align: center;
    color: white;

    position: fixed;
    z-index: 2;
    top: 0;
}

button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
}

input {
    all: unset;
    box-sizing: border-box;
}

.selected-quizz {
    max-width: 1050px;
    height: 181px;

    background-color: #fafafa;

    margin: 146px auto 77px;

    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px dashed #d5d5d5;
    border-radius: 5px;
}

.your-quizz {
    max-width: 1050px;

    margin: 146px auto 48px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.your-quizz div {
    display: flex;
    align-items: center;

    gap: 15px;
}

.selected-quizz h1 {
    width: 250px;
    height: 100px;

    margin-top: 10px;
    padding: 30px 20px;

    font-family: 'roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;

    color: #b9b9b9;
}

.btn-create-quizz {
    width: 151px;
    height: 40px;

    border: 1px dashed #ec362d;
    border-radius: 50px;

    font-size: 21px;
    line-height: 25px;
    color: #ec362d;
    text-align: center;
}

.all-quizz {
    max-width: 1050px;
    
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
}

.all-quizz h1,
.your-quizz div h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: black;
}

.btn-plus {
    width: 30px;
    height: 30px;
    
    border-radius: 50%;
    
    background-color: #ec362d;

    font-size: 30px;
    font-weight: 500;
    line-height: 25px;
    color: white;
    text-align: center;
}

.thumbnails,
.your-thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    margin-top: 15px;
}

.thumbnail {
    width: 340px;
    height: 181px;

    position: relative;
    z-index: 1;
    
    cursor: pointer;

    background-image: 
		linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,
    				rgba(0, 0, 0, 0.5) 64.58%,
    				#000000 100%);

    border-radius: 5px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    
    position: relative;
    z-index: -1;
}

.thumbnail h2{
    position: absolute;
    bottom: 0;

    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    color: white;

    padding: 0 20px 10px;
}
.sidebar {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 43px;
    height: 87px;

    z-index: 2;
    background-color: #EC362D;
    border-radius: 10px 0px 0px 11px;
}
.sidebar ion-icon {
    color: #FFFFFF;
    font-size: 25px;
}
.opened-quizz {
    width: 100%;
    
    position: absolute;
    top: 69px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    width: 100%;
    height: 227px;

    position: relative;
    overflow: hidden;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));

    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.picture img {
    width: 100%;

    z-index: -1;
}

.picture .title {
    position: absolute;
    padding: 0 20px;
    word-break: break-word;;
    font-size: 39px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

.opened-quizz .content {
    max-width: 760px;
    margin-bottom: 50px;

    padding: 30px 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.opened-quizz .content .title {
    width: 100%;
    height: 138px;
    margin-bottom: 20px;
    
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    word-break: break-all;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.option img {
    width: 330px;
    height: 175px;
    margin-bottom: 10px;

    cursor: pointer;
}

.option p {  
    width: 330px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: #000000;
    word-break: break-all;
    text-align: left;

    margin-bottom: 18px;
}

.creating-quizz {
    margin-top: 140px;
    margin-bottom: 140px;
}

.screen-one,
.screen-two,
.screen-three,
.screen-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-one h1,
.screen-two h1,
.screen-three h1,
.screen-four {
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
}
.error {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #EC362D;
}
.minimized {
    width: 600px;
    height: 74px;

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-top: 30px;
}

.minimized ion-icon {
    font-size: 20px;
    color: black;
}

.creating-quizz .form {
    max-width: 600px;

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 10px;

    padding-left: 25px;
    margin-top: 30px;
}

.creating-quizz .form input {
    width: 564px;
    height: 45px;

    border: 1px solid #d1d1d1;
    border-radius: 5px;

    padding-left: 20px;
    color: #8d8c8c;
}

.creating-quizz .form input::placeholder {
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    color: #bababa;
}

.btn {
    box-sizing: content-box;

    height: 54px;

    border-radius: 15px;
    padding: 0 50px;
    margin-top: 50px;

    background-color: #ec362d;

    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: white;
}

.output {
    width: 760px;
    padding: 20px;
    margin: 0 auto;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
}

.output .title {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #EC362D;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    word-break: break-all;
}

.output .info {
    width: 100%;
    height: 100%;

    display: flex;
}

.output .info img {
    margin-right: 20px;
    width: 364px;
    height: 273px;
}

.output .info .text {
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    color:  #484848;
    word-break: break-word;
    text-align: left;
}

.btn-comeback {
    width: 260px;
    height: 52px;

    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #818181;

    margin-bottom: 50px;
}

.answers .not-selected {
    opacity: 0.3;
}

.not-selected #true,
.selected #true{
    color: #009C22;
}

.not-selected #false,
.selected #false{
    color: #FF4B4B;
}

.thumbnail.quizz-done {
    width: 500px;
    height: 266px;

    margin-top: 50px;
    margin-bottom: -20px;
}

/* .show {
    opacity: 1;
    z-index: 1;
} */

.confirmDelete {
    width: 400px;
    height: 250px;
    
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    margin: 20px auto;
    
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

.confirmDelete .btn {
    width: 50%;
    margin: 0;
}

.confirmDelete p {
    margin-bottom: 20px;
}

.loading {
    width: 100%;
    height: 80vh;
    
    opacity: 1;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    animation: vanish 0.52s ease-out 2.5s 1;
}

.loading img {
    width: 250px;
}

.loading p {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    color: #ec362d;
}

@keyframes vanish {
    to {
        opacity: 0;
    }
}

.hide,
.form-Field.hide {
    display: none;
}

@media (max-width: 1100px){
    .all-quizz,
    .your-quizz div h1 {
        margin: 0 15px;
    }
    
    .selected-quizz {
        margin: 146px 15px 77px;
    }
    .thumbnails,
    .your-thumbnails {
        justify-content: center;           
    }
    .opened-quizz .content {
        padding: 15px;
    }
    .opened-quizz .content .title, .picture .title{
        font-size: 19px;
        line-height: 22px;
    }

    .answers {
        gap: 5px;
    }

    .content {
        width: 375px;
    }

    .option p {
        font-size: 13px;
        line-height: 15px;
        width: 164px;
    }
   
    .option img {
        max-width: 164px;
        height: 114px;
        margin-bottom: 10px;
    
        cursor: pointer;
    }

    .output {
        width: 375px;

        flex-direction: column;
    }
    
    .output .info{
        width: 100%;
        flex-direction: column;
    }

    .output .info img {
        width: 335px;
        margin-bottom: 10px;
    }
    
    .screen-one,
    .screen-two,
    .screen-four {
        width: 100%;
    }

    .creating-quizz .form,
    .form-Field,
    .minimized {
        width: 100%;
    }

    .screen-four .thumbnail {
        width: 340px;
        max-width: 500px;
    }

    .screen-four button {
        width: 220px;
    }

    .creating-quizz .form input {
        width: 99%;
        padding: 0 5px;
        margin-left: -5px;
    }

    .btn {
        width: 35vh;
        height: 44px;
    }

    .confirmDelete {
        width: 375px;
    }
   
}