* {
    box-sizing: border-box;
}

body {
    font-family: 'roboto';

    background-color: #e5e5e5;
}

header {
    width: 100%;
    height: 69px;

    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 37px;
    font-weight: 700;
    line-height: 43px;

    padding: 13px;
    text-align: center;
    color: white;

    position: fixed;
    z-index: 2;
    top: 0;
}

button {
    all: unset;

    box-sizing: border-box;

    cursor: pointer;
}

.selected-quizz {
    width: 1050px;
    /* width: 70%; pensar responsividade */
    height: 181px;

    background-color: #fafafa;

    margin: 146px auto 77px;

    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px dashed #d5d5d5;
    border-radius: 5px;

}

.selected-quizz h1 {
    width: 250px;
    height: 100px;

    margin-top: 10px;
    padding: 30px 20px;

    font-family: 'roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;

    color: #b9b9b9;
}

.btn-create-quizz {
    width: 151px;
    height: 40px;

    border: 1px dashed #ec362d;
    border-radius: 50px;

    font-size: 21px;
    line-height: 25px;
    color: #ec362d;
    text-align: center;
}

.all-quizz {
    width: 1050px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.all-quizz h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: black;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;

    margin-top: 15px;
}

.thumbnail {
    width: 340px;
    height: 181px;

    position: relative;
    
    cursor: pointer;

    background-image: 
		linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,
    				rgba(0, 0, 0, 0.5) 64.58%,
    				#000000 100%);

    border-radius: 5px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    
    position: relative;
    z-index: -1;
}

.thumbnail h2{
    position: absolute;
    bottom: 0;

    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    color: white;

    padding: 0 20px 5px;
}

.opened-quizz {
    width: 100%;
    height: 600px;
    

    position: absolute;
    top: 69px;
}
.picture {
    width: 100%;
    height: 227px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));

    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.picture img {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.picture .title {
    position: absolute;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
}
.content {
    width: 759px;
    height: 676px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;

    padding: 25px 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.content .title {
    width: 100%;
    height: 138px;
    margin-bottom: 20px;
    background-color: blue;
    
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.option {
    margin-bottom: 18px;
}
.option img {
    width: 330px;
    height: 175px;
    margin-bottom: 10px;
}
.option p {   
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    color: #000000;
}

.show {
    opacity: 1;
    z-index: 1;
}

.hide {
    opacity: 0;
    z-index: -1;
}


